.hot {
  padding: 4px;
  background-color: #FA6400;
  color: #FFFFFF;
  font-size: 1.1rem;
  border-radius: 4px; }

.new {
  background: green;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold; }

.primary-btn {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.7rem;
  transition: all .25s;
  padding: 2rem 7rem;
  border-radius: 1rem;
  background-color: #FA6400; }

.primary-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }

span {
  display: block;
  animation: visible 2s; }

@keyframes visible {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Sarabun", sans-serif;
  line-height: 1;
  font-size: 1.4rem; }

input, button {
  outline: none;
  font-family: "Sarabun", sans-serif;
  line-height: 1; }

button {
  cursor: pointer; }

.wrapper-inner {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  max-width: 1215px;
  margin: 0 auto; }

.wrapper-outer {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #F6F6F6; }

.header {
  z-index: 2;
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap; }
  .header-logo img {
    width: 15rem;
    height: 5.5rem; }
  .header-nav {
    cursor: pointer; }
  .header-nav-item {
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 3rem;
    display: inline-block; }
  .header-nav-item::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 3rem;
    height: 5rem;
    bottom: 0;
    top: 10px;
    left: 0; }
  .header-nav-item:hover > a {
    color: #FA6400; }
  .header-nav-item:hover > i {
    color: #FA6400; }
  .header-nav-item > .header-item-sub {
    top: 200%;
    left: -70%;
    height: auto;
    position: absolute;
    background-color: #fff;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #f8f8f8;
    -webkit-box-shadow: 0 0 10px 0 #0003;
    box-shadow: 0 0 10px 0 #0003;
    border-radius: 6px;
    display: none;
    padding: 5px 0;
    font-size: 16px; }
  .header-item-sub > li > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
  .header-nav-item:hover > .header-item-sub {
    display: block;
    animation: visible 0.25s; }
  .header-nav-item ul li::before {
    content: "";
    position: absolute;
    width: 0;
    left: 18%;
    top: -15%;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-bottom: 1.2rem solid #FFFFFF; }
  .header-nav-item ul li a {
    padding: 4px 5px;
    white-space: nowrap;
    margin-right: 5px;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-transition: ease-in .2s;
    transition: ease-in .2s;
    line-height: 1.5; }
  .header-nav-item i {
    transition: ease-in .2s; }
  .header-nav-item ul li a:hover {
    color: #FA6400; }
  .header-sub-link:hover {
    color: #FA6400; }
  .header-nav-link {
    color: #000726;
    font-size: 1.4rem;
    position: relative;
    transition: ease-in .2s; }
  .header-nav-link span {
    text-transform: uppercase;
    position: absolute;
    color: #FA6400;
    top: -60%;
    left: 100%;
    font-size: 1.1rem;
    transition: ease-in .2s; }
  .header-site-menu {
    position: absolute;
    left: -60%;
    border-radius: 5px;
    width: auto;
    display: none; }
  .header-nav-item:hover > .header-site-menu {
    display: block;
    animation: visible 0.25s; }
  .header .site-menu-container {
    padding: 2rem;
    background-color: #f6f6f6;
    -webkit-box-shadow: 0 10px 10px 0 #0001;
    box-shadow: 0 10px 10px 0 #0001;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .header .site-menu-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
  .header .site-menu-column {
    width: 100%;
    padding: 2rem; }
  .header .site-menu-column:hover {
    background-color: #FFFFFF; }
  .header .mega-menu {
    cursor: pointer;
    text-decoration: none;
    color: #000726;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
  .header .mega-menu-icon {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem; }
  .header .mega-menu-icon svg {
    width: 3.2rem;
    height: 3.2rem; }
  .header .mega-menu-title {
    width: 100%;
    white-space: nowrap; }
  .header-user {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
  .header-user-item {
    transition: ease-in 0.25s;
    margin-right: 2rem; }
    .header-user-item p {
      color: #000726;
      transition: ease-in 0.2s; }
  .header-user-item:hover > a p {
    color: #FA6400; }
  .header-user-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: 0.25s ease-in-out; }

.banner {
  position: relative;
  font-family: "Sarabun", sans-serif;
  z-index: 1;
  padding-bottom: 4rem; }
  .banner-bg {
    position: absolute;
    z-index: -222222;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0; }
    .banner-bg img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: top right;
      object-position: top right; }
  .banner .container {
    margin-top: 2.5rem;
    z-index: 1; }
  .banner-title {
    font-size: 1.6rem;
    color: #FA6400;
    font-weight: bold; }
  .banner-title:after {
    content: "";
    position: absolute;
    z-index: -2;
    top: -9%;
    left: 3%;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    background-color: #F7EBE3; }
  .banner-caption {
    margin-top: 1.7rem;
    width: 45rem;
    font-size: 5.4rem;
    line-height: 1.4; }
  .banner-slide-arrow {
    width: 11.5rem;
    margin-top: 1.7rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
    .banner-slide-arrow a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
      background-color: #FFFFFF;
      font-size: 1.5rem;
      width: 5rem;
      height: 5rem;
      color: #878787;
      border-radius: 50%; }
      .banner-slide-arrow a i {
        font-size: 2.7rem; }
    .banner-slide-arrow a:hover {
      color: #FA6400; }
  .banner-slide {
    overflow: hidden; }
    .banner-slide-container {
      width: 100%;
      z-index: 1;
      margin-top: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      transition: transform 1.25s ease-in-out; }
    .banner-slide-img {
      margin-left: 1.5rem;
      flex-shrink: 0; }
      .banner-slide-img img {
        width: 55rem;
        height: 23.5rem;
        border-radius: 2rem;
        object-fit: cover; }

.policy {
  width: 100%;
  border-bottom: 2px solid #F5F5F5;
  margin-bottom: 10rem; }
  .policy-list {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
  .policy-list-item {
    cursor: pointer;
    position: relative;
    width: calc((100% - 2rem) / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
    .policy-list-item span {
      transition: .25s ease-in; }
  .policy-list-item:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 6rem;
    background-color: #F5F5F5;
    right: 0; }
  .policy-list-item:hover > span {
    color: #FA6400; }
  .policy-list-item:last-child:after {
    display: none; }
  .policy-list-icon {
    width: 4.5rem;
    height: 3rem; }
  .policy-list-icon svg {
    width: 100%;
    height: 100%; }
  .policy-list-label {
    font-size: 1.6rem;
    color: #000726;
    line-height: 1.6;
    margin-left: 1rem; }
    .policy-list-label b {
      color: #FA6400;
      font-weight: bold; }

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap; }
  .products-new {
    position: relative; }
  .products-new-heading {
    position: absolute;
    font-size: 3rem;
    color: #000726;
    font-weight: bold;
    left: -24%;
    bottom: 15%;
    text-transform: uppercase;
    transform: rotate(-90deg) translateY(100%); }
  .products-highlights {
    position: relative; }
  .products-highlights-heading {
    position: absolute;
    font-size: 3rem;
    color: #000726;
    font-weight: bold;
    top: 9%;
    right: -20%;
    text-transform: uppercase;
    transform: rotate(90deg) translateY(100%); }
  .products-highlights-arrow {
    position: absolute;
    right: -17%;
    bottom: 5%;
    transform: rotate(90deg); }

.coolsub {
  max-height: 75rem;
  position: relative;
  margin-top: 10rem;
  display: flex;
  margin-left: auto;
  margin-right: auto; }
  .coolsub-product {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
    position: relative; }
  .coolsub-item {
    display: block;
    width: 32%;
    background-color: #e0eeea;
    margin: 0.5rem auto;
    transition: ease-in .25s; }
  .coolsub-item:hover {
    background-color: #FFFFFF; }
  .coolsub-item-container {
    text-align: center; }
  .coolsub-item-img {
    max-width: 120px;
    margin-left: auto;
    margin-right: auto; }
  .coolsub-item-img img {
    display: block;
    width: 20rem;
    height: 20rem;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center; }
  .coolsub-item-heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 8px;
    -webkit-transition: all .25s;
    transition: all .25s; }
  .coolsub-item-heading:hover {
    color: #FA6400; }
  .coolsub-item-qty {
    font-size: 16px;
    font-weight: 400;
    color: #494949;
    padding-bottom: 5rem; }
  .coolsub-content {
    width: 55%;
    padding-top: 6.5rem;
    position: relative;
    background-color: #F6F6F6;
    background: url("https://www.coolmate.me/images/home/coolsub.jpg") no-repeat 35% 15%; }
  .coolsub-content-wrapper {
    padding-left: 5.5rem; }
  .coolsub-content-heading {
    display: block;
    font-size: 2.5rem;
    color: #000726;
    word-spacing: 4px;
    text-transform: uppercase; }
  .coolsub-content-caption {
    margin-top: 1.5rem;
    font-size: 7.5rem;
    color: #FA6400;
    font-weight: 800; }
  .coolsub-content-price {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1.5rem;
    color: #000726; }
    .coolsub-content-price span {
      color: #FA6400;
      font-weight: 500;
      font-size: 2rem;
      display: inline-block; }
  .coolsub-content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 725px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 2.5rem; }
  .coolsub-content-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    color: #FA6400;
    width: 7rem;
    height: 7rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem; }
  .coolsub-content-item {
    margin-right: 2.5rem; }
  .coolsub-content-title {
    margin-top: 2.5rem;
    font-size: 2.4rem;
    text-transform: capitalize;
    color: #000726;
    font-weight: 300; }
  .coolsub-content-description {
    color: #000726;
    font-size: 1.6rem;
    font-weight: 200;
    margin-top: 1.5rem;
    line-height: 1.5; }
  .coolsub-content-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5rem;
    margin-left: -10px; }
    .coolsub-content-actions a {
      padding: 2rem 7rem;
      border-radius: 1rem;
      background-color: #FA6400;
      color: #FFFFFF; }
  .coolsub-content-btn {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1.7rem;
    transition: all .25s; }
  .coolsub-content-policy {
    color: #000726;
    font-size: 1.6rem;
    font-weight: 200;
    margin-left: 4rem; }

.help {
  position: relative;
  width: 100%;
  height: 60rem;
  padding-top: 4rem;
  text-align: center;
  z-index: 23; }
  .help .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    z-index: -1; }
  .help-icon {
    margin-bottom: 0.6rem; }
  .help-slogan {
    position: relative; }
    .help-slogan h4 {
      color: #000726;
      font-weight: bold;
      font-size: 2.4rem;
      margin-bottom: 2.5rem; }
    .help-slogan h4::after {
      content: "";
      position: absolute;
      width: 7rem;
      height: 4px;
      background-color: #000726;
      left: 50%;
      bottom: -65%; }
  .help-text {
    font-size: 1.6rem; }
    .help-text p {
      color: #000726;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 1.5rem; }
    .help-text span {
      color: #FA6400;
      font-weight: 600;
      margin-bottom: 2rem; }
  .help-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
  .help-box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 33%;
    margin-right: 3rem;
    padding: 3rem 0;
    border: 2px solid #FA6400;
    border-radius: 5px;
    margin-bottom: 5rem; }
    .help-box-item h2 {
      font-size: 4.5rem;
      color: #000726;
      font-weight: 700;
      margin-bottom: 2rem; }
    .help-box-item p {
      font-size: 1.6rem;
      line-height: 1.6; }

.testimonials {
  position: relative;
  margin-top: 5rem; }
  .testimonials-heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
    .testimonials-heading h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0);
      z-index: 2;
      color: #000;
      font-size: 34px;
      text-transform: uppercase;
      width: 100%;
      text-align: center; }
  .testimonials-heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    z-index: 1;
    opacity: .8; }
  .testimonials-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem; }
    .testimonials-slide span {
      margin-right: 1rem;
      width: 1.3rem;
      height: 1.3rem;
      background-color: #F6F6F6;
      border-radius: 50%; }
    .testimonials-slide span:last-child {
      margin-right: 0; }
    .testimonials-slide .active {
      background-color: #FA6400; }
  .testimonials-content {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
  .testimonials-content-box {
    position: relative;
    width: 50%;
    height: 100%;
    margin-right: 2rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #F6F6F6; }
  .testimonials-content-box:last-child {
    margin-right: 0; }
  .testimonials-box-text {
    width: 50%;
    height: 100%; }
  .testimonials-text-rating {
    font-size: 1.5rem;
    color: #FA6400;
    margin-bottom: 2rem; }
  .testimonials-text-desc {
    color: #000726;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 5rem; }
  .testimonials-text-author {
    color: #FA6400;
    font-size: 1.6rem;
    font-weight: 500; }
  .testimonials-box-img {
    position: relative;
    width: 50%;
    height: 100%;
    opacity: 1; }
    .testimonials-box-img img {
      object-fit: cover;
      width: 100%; }
    .testimonials-box-img .overlay {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); }
    .testimonials-box-img .view-btn {
      display: none;
      text-align: center;
      color: #FFFFFF;
      font-size: 1.6rem;
      padding: 1rem;
      border-radius: 4px;
      text-transform: uppercase;
      background-color: #FA6400; }
  .testimonials-box-img:hover > .overlay {
    display: block; }
  .testimonials-box-img:hover > .view-btn {
    display: block; }

.faqs {
  position: relative;
  max-width: 1920px;
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.5rem;
  overflow: hidden; }
  .faqs-service-ele {
    position: absolute;
    top: 50%; }
  .faqs-service-ele--1 {
    top: 0;
    left: -14%; }
  .faqs-service-ele--2 {
    top: 15%;
    left: 2%;
    max-width: 300px; }
  .faqs-service-ele--3 {
    top: 60%;
    left: 0; }
  .faqs-service-ele--4 {
    top: 5%;
    right: -5%; }
  .faqs-service-ele--5 {
    top: 35%;
    right: 2%;
    max-width: 240px; }
  .faqs-service-ele--6 {
    top: 70%;
    right: -400px; }
  .faqs-service-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    text-align: center; }
  .faqs-service-icon {
    width: 110px;
    height: 110px; }
  .faqs-service-sub-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    color: #333;
    margin-bottom: 10px; }
    .faqs-service-sub-heading span {
      color: #FA6400; }
  .faqs-service-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    color: #333;
    margin-bottom: 10px; }
    .faqs-service-heading span {
      color: #FA6400; }
  .faqs-container {
    position: relative;
    max-width: 990px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    margin: 0 auto;
    z-index: 1; }
  .faqs-service-list {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff; }
  .faqs-service-item {
    border-bottom: 1px solid #f5f5f7;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .faqs-service-item a {
      color: #000726; }
  .faqs-service-head {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    display: block;
    position: relative; }
    .faqs-service-head span {
      position: absolute;
      top: 50%;
      right: 0;
      width: 16px;
      height: 16px;
      margin-top: -8px; }
    .faqs-service-head svg {
      width: 100%;
      height: 100%; }
  .faqs-service-content {
    display: none;
    background-color: #fcf7f5;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.67; }
    .faqs-service-content p {
      margin-top: 0;
      margin-bottom: 15px; }
  .faqs-service-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid rgba(250, 100, 0, 0.22);
    border-radius: 10px;
    height: 60px;
    max-width: 270px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.6px;
    color: #FA6400;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .faqs-service-button:hover {
    color: #FFFFFF;
    background-color: #FA6400; }

.blogs {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap; }
  .blogs-heading {
    text-align: center;
    width: 20%;
    font-size: 4.8rem; }
    .blogs-heading h3 {
      color: #000726;
      font-weight: 600;
      line-height: 1.5; }
    .blogs-heading span {
      display: inline-block;
      color: #FA6400;
      font-weight: 600;
      margin-left: 1rem; }
    .blogs-heading span:last-child {
      margin-left: -0.5rem; }
  .blogs-sub-heading {
    font-size: 3rem; }
    .blogs-sub-heading h4 {
      color: #000726;
      font-weight: 300; }
    .blogs-sub-heading span {
      display: inline-block;
      color: #FA6400;
      font-weight: 700;
      margin-left: 5px !important; }
  .blogs-post {
    position: relative;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
  .blogs-box {
    position: relative;
    margin-right: 1rem; }
  .blogs-box:last-child {
    margin-right: -20px; }
  .blogs-content {
    cursor: pointer;
    position: absolute;
    left: 10px;
    bottom: 0;
    padding-bottom: 1.2rem; }
    .blogs-content h3 {
      font-size: 1.3rem;
      color: #FFFFFF;
      transition: ease-in 0.25s; }
  .blogs-new-icon {
    display: inline-block;
    margin-left: 1rem; }
  .blogs-new-icon i {
    color: #FFFFFF;
    font-size: 1.5rem;
    transition: ease-in 0.25s; }
  .blogs-thumb {
    position: relative;
    width: 100%;
    height: 30rem; }
  .blogs-thumb img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .blogs-thumb a img:after {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#0009), to(#0000));
    background-image: linear-gradient(0deg, #0009, #0000);
    pointer-events: none; }
  .blogs-title:hover {
    color: #FA6400; }
  .blogs-link {
    cursor: pointer;
    display: inline-block;
    margin-top: 1rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: ease-in 0.25s; }
  .blogs-link:hover {
    color: #FA6400; }
  .blogs-link:hover i {
    color: #FA6400; }

.about {
  position: relative;
  margin-top: 5.5rem; }
  .about-left {
    max-width: 72rem; }
    .about-left img {
      width: 72rem;
      height: 45.5rem; }
  .about-content {
    margin-top: 5rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
  .about-content-hastag {
    margin-right: 2rem; }
    .about-content-hastag span {
      color: #FA6400;
      font-size: 2.6rem;
      font-weight: bold; }
  .about-content-text {
    font-size: 1.4rem;
    color: #000726;
    line-height: 1.7; }
  .about-btn {
    margin-top: 5rem; }
  .about-right {
    position: absolute;
    top: 0;
    right: 0;
    left: 60%; }
  .about-right-heading {
    left: -55%;
    width: 100%;
    margin-top: 2.5rem;
    position: absolute;
    white-space: nowrap;
    font-size: 6rem;
    font-weight: bold;
    font-size: 6rem;
    font-weight: bold; }
    .about-right-heading h3 {
      color: #000726;
      font-size: 5.5rem; }
    .about-right-heading span {
      color: #FA6400;
      font-weight: bold;
      display: inline; }
  .about-right-content {
    width: 62rem;
    height: 22rem;
    position: absolute;
    z-index: 2;
    top: 12rem;
    right: 15rem;
    bottom: 0;
    padding: 2.2rem;
    background-color: #F0EFEF; }
    .about-right-content p {
      color: #000726;
      font-weight: normal;
      line-height: 1.7; }
  .about-right-detail {
    margin-top: 1.3rem;
    font-size: 1.6rem;
    color: #FA6400;
    max-width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
    .about-right-detail a {
      color: #FA6400;
      font-weight: bold;
      margin-right: 1rem; }
  .about-right-img {
    width: 40rem;
    height: 40rem;
    position: absolute;
    top: 29rem;
    left: 0;
    z-index: 3; }

.footer {
  background-color: #F6F6F6;
  margin-top: 8.5rem;
  padding-top: 2.2rem;
  height: 650px;
  width: 100%; }
  .footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
  .footer-logo img {
    width: 15rem;
    height: 5.5rem; }
  .footer-info {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 10px; }
    .footer-info-icon {
      margin-right: 1.2rem; }
    .footer-info span i {
      font-size: 3rem; }
  .footer-info-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap; }
    .footer-info-title h4 {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #000726; }
    .footer-info-title span {
      color: #FA6400;
      font-size: 2rem;
      font-weight: bold; }
  .footer-socials ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
    .footer-socials ul li {
      margin-right: 2rem; }
    .footer-socials ul a {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 1.2rem;
      border-radius: 10px;
      background-color: #FFFFFF;
      transition: ease-in 0.25s; }
    .footer-socials ul a:hover {
      box-shadow: -1px 2px 3px #c9bbbb; }
  .footer-center {
    margin-top: 5.5rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid #e0dddd; }
  .footer-center-item {
    width: calc((100% - 60px) / 4); }
    .footer-center-item h5 {
      font-size: 1.8rem;
      color: #000726;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 2rem;
      display: inline-block; }
    .footer-center-item p {
      color: #000726;
      max-width: 25rem;
      line-height: 1.7;
      margin-bottom: 2rem; }
    .footer-center-item span {
      display: inline-block;
      color: #000726;
      font-weight: bold;
      text-transform: capitalize;
      font-size: 1.6rem; }
    .footer-center-item ul li {
      margin-bottom: 2rem; }
      .footer-center-item ul li a {
        color: #000726;
        transition: ease-in 0.15s; }
      .footer-center-item ul li a:hover {
        color: #FA6400; }
  .footer-bottom {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 2.5rem; }
  .footer-bottom-certification h4 {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500; }
  .footer-bottom-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
    .footer-bottom-logo svg {
      width: 7rem;
      height: 7rem; }

/*# sourceMappingURL=main.css.map */
