.hot {
  padding: 4px;
  background-color: #FA6400;
  color: #FFFFFF;
  font-size: 1.1rem;
  border-radius: 4px; }

.new {
  background: green;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold; }

span {
  display: block;
  animation: visible 2s; }

@keyframes visible {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Sarabun", sans-serif;
  line-height: 1;
  font-size: 1.4rem; }

input, button {
  outline: none;
  font-family: "Sarabun", sans-serif;
  line-height: 1; }

button {
  cursor: pointer; }

.wrapper-inner {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  max-width: 1215px;
  margin: 0 auto; }

.wrapper-outer {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #F6F6F6; }

.header {
  z-index: 2;
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap; }
  .header-logo img {
    width: 15rem;
    height: 5.5rem; }
  .header-nav {
    cursor: pointer; }
  .header-nav-item {
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 3rem;
    display: inline-block; }
  .header-nav-item::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 12rem;
    height: 5rem;
    bottom: 0;
    top: 10px;
    left: 0; }
  .header-nav-item:hover > a {
    color: #FA6400; }
  .header-nav-item:hover > i {
    color: #FA6400; }
  .header-nav-item > .header-item-sub {
    top: 200%;
    left: -70%;
    height: auto;
    position: absolute;
    background-color: #fff;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #f8f8f8;
    -webkit-box-shadow: 0 0 10px 0 #0003;
    box-shadow: 0 0 10px 0 #0003;
    border-radius: 6px;
    display: none;
    padding: 5px 0;
    font-size: 16px; }
  .header-item-sub > li > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
  .header-nav-item:hover > .header-item-sub {
    display: block;
    animation: visible 0.25s; }
  .header-nav-item ul li::before {
    content: "";
    position: absolute;
    width: 0;
    left: 18%;
    top: -15%;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-bottom: 1.2rem solid #FFFFFF; }
  .header-nav-item ul li a {
    padding: 4px 5px;
    white-space: nowrap;
    margin-right: 5px;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-transition: ease-in .2s;
    transition: ease-in .2s;
    line-height: 1.5; }
  .header-nav-item i {
    transition: ease-in .2s; }
  .header-nav-item ul li a:hover {
    color: #FA6400; }
  .header-nav-link {
    color: #000726;
    font-size: 1.4rem;
    position: relative;
    transition: ease-in .2s; }
  .header-nav-link span {
    text-transform: uppercase;
    position: absolute;
    color: #FA6400;
    top: -60%;
    left: 100%;
    font-size: 1.1rem;
    transition: ease-in .2s; }
  .header-site-menu {
    position: absolute;
    left: -60%;
    border-radius: 5px;
    width: auto;
    display: none; }
  .header-nav-item:hover > .header-site-menu {
    display: block;
    animation: visible 0.25s; }
  .header .site-menu-container {
    padding: 2rem;
    background-color: #f6f6f6;
    -webkit-box-shadow: 0 10px 10px 0 #0001;
    box-shadow: 0 10px 10px 0 #0001;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .header .site-menu-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
  .header .site-menu-column {
    width: 100%;
    padding: 2rem; }
  .header .site-menu-column:hover {
    background-color: #FFFFFF; }
  .header .mega-menu {
    cursor: pointer;
    text-decoration: none;
    color: #000726;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
  .header .mega-menu-icon {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem; }
  .header .mega-menu-icon svg {
    width: 3.2rem;
    height: 3.2rem; }
  .header .mega-menu-title {
    width: 100%;
    white-space: nowrap; }
  .header-user {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
  .header-user-item {
    transition: ease-in 0.25s;
    margin-right: 2rem; }
    .header-user-item p {
      color: #000726; }
  .header-user-item:hover > a i {
    color: #FA6400; }
  .header-user-item:hover > a p {
    color: #FA6400; }
  .header-user-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: 0.25s ease-in-out; }
  .header-user-item a i {
    font-size: 2.4rem;
    color: #000726;
    margin-bottom: 0.5rem;
    font-weight: normal;
    cursor: pointer; }

.banner {
  position: relative;
  font-family: "Sarabun", sans-serif;
  z-index: 1;
  padding-bottom: 4rem; }
  .banner-bg {
    position: absolute;
    z-index: -222222;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0; }
    .banner-bg img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: top right;
      object-position: top right; }
  .banner .container {
    margin-top: 2.5rem;
    z-index: 1; }
  .banner-title {
    font-size: 1.6rem;
    color: #FA6400;
    font-weight: bold; }
  .banner-title:after {
    content: "";
    position: absolute;
    z-index: -2;
    top: -9%;
    left: 3%;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    background-color: #F7EBE3; }
  .banner-caption {
    margin-top: 1.7rem;
    width: 45rem;
    font-size: 5.4rem;
    line-height: 1.4; }
  .banner-slide-arrow {
    width: 11.5rem;
    margin-top: 1.7rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
    .banner-slide-arrow a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
      background-color: #FFFFFF;
      font-size: 1.5rem;
      width: 5rem;
      height: 5rem;
      color: #878787;
      border-radius: 50%; }
      .banner-slide-arrow a i {
        font-size: 2.7rem; }
    .banner-slide-arrow a:hover {
      color: #FA6400; }
  .banner-slide {
    width: 100%;
    z-index: 1;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
    .banner-slide-img {
      margin-left: 1.5rem; }
      .banner-slide-img img {
        width: 55rem;
        height: 23.5rem;
        border-radius: 2rem;
        object-fit: cover; }

.policy {
  width: 100%;
  border-bottom: 2px solid #F5F5F5;
  margin-bottom: 10rem; }
  .policy-list {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
  .policy-list-item {
    cursor: pointer;
    position: relative;
    width: calc((100% - 2rem) / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
    .policy-list-item span {
      transition: .25s ease-in; }
  .policy-list-item:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 6rem;
    background-color: #F5F5F5;
    right: 0; }
  .policy-list-item:hover > span {
    color: #FA6400; }
  .policy-list-item:last-child:after {
    display: none; }
  .policy-list-icon {
    width: 4.5rem;
    height: 3rem; }
  .policy-list-icon svg {
    width: 100%;
    height: 100%; }
  .policy-list-label {
    font-size: 1.6rem;
    color: #000726;
    line-height: 1.6;
    margin-left: 1rem; }
    .policy-list-label b {
      color: #FA6400;
      font-weight: bold; }

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap; }
  .products-new {
    position: relative; }
  .products-new-heading {
    position: absolute;
    font-size: 3rem;
    color: #000726;
    font-weight: bold;
    left: -24%;
    bottom: 15%;
    text-transform: uppercase;
    transform: rotate(-90deg) translateY(100%); }
  .products-highlights {
    position: relative; }
  .products-highlights-heading {
    position: absolute;
    font-size: 3rem;
    color: #000726;
    font-weight: bold;
    top: 9%;
    right: -20%;
    text-transform: uppercase;
    transform: rotate(90deg) translateY(100%); }
  .products-highlights-arrow {
    position: absolute;
    right: -17%;
    bottom: 5%;
    transform: rotate(90deg); }

.coolsub {
  max-height: 75rem;
  position: relative;
  margin-top: 10rem;
  display: flex;
  margin-left: auto;
  margin-right: auto; }
  .coolsub-product {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
    position: relative; }
  .coolsub-item {
    display: block;
    width: 32%;
    background-color: #e0eeea;
    margin: 0.5rem auto;
    transition: ease-in .25s; }
  .coolsub-item:hover {
    background-color: #FFFFFF; }
  .coolsub-item-container {
    text-align: center; }
  .coolsub-item-img {
    max-width: 120px;
    margin-left: auto;
    margin-right: auto; }
  .coolsub-item-img img {
    display: block;
    width: 20rem;
    height: 20rem;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center; }
  .coolsub-item-heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 8px;
    -webkit-transition: all .25s;
    transition: all .25s; }
  .coolsub-item-heading:hover {
    color: #FA6400; }
  .coolsub-item-qty {
    font-size: 16px;
    font-weight: 400;
    color: #494949;
    padding-bottom: 5rem; }
  .coolsub-content {
    width: 55%;
    padding-top: 6.5rem;
    position: relative;
    background-color: #F6F6F6;
    background: url("https://www.coolmate.me/images/home/coolsub.jpg") no-repeat 35% 15%; }
  .coolsub-content-wrapper {
    padding-left: 5.5rem; }
  .coolsub-content-heading {
    display: block;
    font-size: 2.5rem;
    color: #000726;
    word-spacing: 4px;
    text-transform: uppercase; }
  .coolsub-content-caption {
    margin-top: 1.5rem;
    font-size: 7.5rem;
    color: #FA6400;
    font-weight: 800; }
  .coolsub-content-price {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1.5rem;
    color: #000726; }
    .coolsub-content-price span {
      color: #FA6400;
      font-weight: 500;
      font-size: 2rem;
      display: inline-block; }
  .coolsub-content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 725px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 2.5rem; }
  .coolsub-content-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    color: #FA6400;
    width: 7rem;
    height: 7rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem; }
  .coolsub-content-item {
    margin-right: 2.5rem; }
  .coolsub-content-title {
    margin-top: 2.5rem;
    font-size: 2.4rem;
    text-transform: capitalize;
    color: #000726;
    font-weight: 300; }
  .coolsub-content-description {
    color: #000726;
    font-size: 1.6rem;
    font-weight: 200;
    margin-top: 1.5rem;
    line-height: 1.5; }
  .coolsub-content-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5rem;
    margin-left: -10px; }
    .coolsub-content-actions a {
      padding: 2rem 7rem;
      border-radius: 1rem;
      background-color: #FA6400;
      color: #FFFFFF; }
  .coolsub-content-policy {
    color: #000726;
    font-size: 1.6rem;
    font-weight: 200;
    margin-left: 4rem; }

/*# sourceMappingURL=main.css.map */
