


.header {
	z-index: 2;
	position: relative;
	padding-top: 3.5rem;
	padding-bottom: 2rem;
	@include flexbox (center, space-between);
	&-logo {
		img {
			width: 15rem;
			height: 5.5rem;

		}
	}


	// style header-nav
	&-nav {
		cursor: pointer;
		// @include flexbox(center, center);
	}
	&-nav-item {
		position: relative;
		cursor: pointer;
		transition: all 0.3s;
		margin-left: 3rem;
		display: inline-block;
	}
	&-nav-item::after {
		content: "";
		position: absolute;
		background-color: transparent;
		width: 3rem;
		height: 5rem;
		bottom: 0;
		top: 10px;
		left: 0;
	}
	&-nav-item:hover > a {
		color: $orange-color;
	}
	&-nav-item:hover > i {
		color: $orange-color;
	}

	&-nav-item > .header-item-sub {
		top: 200%;
		left: -70%;
		height: auto;
		position: absolute;
    background-color: #fff;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #f8f8f8;
    -webkit-box-shadow: 0 0 10px 0 #0003;
    box-shadow: 0 0 10px 0 #0003;
    border-radius: 6px;
		display: none;
    padding: 5px 0;
    font-size: 16px;
	}
	&-item-sub > li > div {
		@include flexbox(center, center);
	}
	&-nav-item:hover > .header-item-sub {
		display: block;
		animation: visible 0.25s;
	}
	&-nav-item ul li::before {
		content: "";
    position: absolute;
    width: 0;
    left: 18%;
    top: -15%;
    height: 0;
    border-left: 1.2rem solid transparent;
		border-right: 1.2rem solid transparent;
    border-bottom: 1.2rem  solid  $white-color;
	}

	&-nav-item ul li a {
		padding: 4px 5px;
		white-space: nowrap;
		margin-right: 5px;
		background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-transition: ease-in .2s;
    transition: ease-in .2s;
		line-height: 1.5;
	}
	&-nav-item i {
		transition: ease-in .2s;
	}
	&-nav-item ul li a:hover {
		color: $orange-color;
	}
	&-sub-link:hover {
		color: $orange-color;
	}
	
	&-nav-link {
		color: $black-color;
		font-size: 1.4rem;
		position: relative;
		transition: ease-in .2s;
	}
	&-nav-link span {
		text-transform: uppercase;
    position: absolute;
    color: #FA6400;
    top: -60%;
    left: 100%;
    font-size: 1.1rem;
		transition: ease-in .2s;
	}
	&-site-menu {
		position: absolute;
    left: -60%;
    border-radius: 5px;
    width: auto;
		display: none;
	}
	&-nav-item:hover > .header-site-menu {
		display: block;
		animation: visible 0.25s;
	}
	.site-menu-container {
		padding: 2rem;
		background-color: #f6f6f6;
    -webkit-box-shadow: 0 10px 10px 0 #0001;
    box-shadow: 0 10px 10px 0 #0001;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
	}
	.site-menu-row {
		@include flexbox(center, space-between);
	}
	.site-menu-column {
		width: 100%;
		padding: 2rem;
	}
	.site-menu-column:hover {
		background-color: $white-color;
	}
	.mega-menu {
		cursor: pointer;
		text-decoration: none;
		color: $black-color;
		@include flexbox(center, space-between);
	}
	.mega-menu-icon {
		width: 4rem;
    height: 4rem;
    margin-right: 2rem;
	}
	.mega-menu-icon svg {
		width: 3.2rem;
		height: 3.2rem;
	}
	.mega-menu-title {
		width: 100%;
		white-space: nowrap;
	}



	// style header-user
	&-user {
		@include flexbox(stretch, space-between);
	}
	&-user-item {
		transition: ease-in 0.25s;
		margin-right: 2rem;
		p {
			color: $black-color;
			transition: ease-in 0.2s;
		}
	}

	&-user-item:hover > a p {
		color: $orange-color;
	}
	&-user-item a {
		@include flexbox(center, center, column);
		transition: 0.25s ease-in-out;
	}
}  // end style header
 