
$primary-font: 'Sarabun', sans-serif;
$orange-color: #FA6400;
$white-color: #FFFFFF;
$text-color: #878787;
$mini-text-color:#666666;
$black-color:#000726;
$header-color: #F6F6F6;
$border-color: #F5F5F5;
