




// VARIEBLE

$primary-font: 'Sarabun', sans-serif;
$orange-color: #FA6400;
$white-color: #FFFFFF;
$text-color: #878787;
$mini-text-color:#666666;
$black-color:#000726;
$header-color: #F6F6F6;
$border-color: #F5F5F5;


// style global 


.hot {
	padding: 4px;
	background-color: $orange-color;
	color: $white-color;
	font-size: 1.1rem;
	border-radius: 4px;
}

.new {
	background: green;
	color: white;
	padding: 5px;
	border-radius: 4px;
	font-size: 10px;
	font-weight: bold;
}
.primary-btn {
	color: $white-color;
	text-transform: uppercase;
	font-size: 1.7rem;
	transition: all .25s;
	padding: 2rem 7rem;
	border-radius: 1rem;
	background-color: $orange-color;
}
.primary-btn:hover {
	background-color: rgb(233, 164, 35);
}
// key frames

span {
  display: block;
  animation: visible 2s;   
}

@keyframes visible {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}







html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%;
}
body {
	font-family: $primary-font;
	line-height: 1;
	font-size: 1.4rem;
}

input, button {
	outline: none;
	font-family: $primary-font;
	line-height: 1;
}
button {
	cursor: pointer;
}

.wrapper-inner {
	max-width: 1440px;
	margin: 0 auto;
}

.container {
	max-width: 1215px;
	margin: 0 auto;
}

.wrapper-outer {
  max-width: 1920px;
  margin: 0 auto;
	background-color: $header-color;
}








//flex Box 

@mixin flexbox($align-items: stretch
, $justify-content: flex-start,
 $direction: row,
	$wrap: nowrap) {
		display: flex;
		align-items: $align-items;
		justify-content: $justify-content;
		flex-direction: $direction;
		flex-wrap: $wrap;
}




// style header 

.header {
	z-index: 2;
	position: relative;
	padding-top: 3.5rem;
	padding-bottom: 2rem;
	@include flexbox (center, space-between);
	&-logo {
		img {
			width: 15rem;
			height: 5.5rem;

		}
	}


	// style header-nav
	&-nav {
		cursor: pointer;
		// @include flexbox(center, center);
	}
	&-nav-item {
		position: relative;
		cursor: pointer;
		transition: all 0.3s;
		margin-left: 3rem;
		display: inline-block;
	}
	&-nav-item::after {
		content: "";
		position: absolute;
		background-color: transparent;
		width: 12rem;
		height: 5rem;
		bottom: 0;
		top: 10px;
		left: 0;
	}
	&-nav-item:hover > a {
		color: $orange-color;
	}
	&-nav-item:hover > i {
		color: $orange-color;
	}

	&-nav-item > .header-item-sub {
		top: 200%;
		left: -70%;
		height: auto;
		position: absolute;
    background-color: #fff;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #f8f8f8;
    -webkit-box-shadow: 0 0 10px 0 #0003;
    box-shadow: 0 0 10px 0 #0003;
    border-radius: 6px;
		display: none;
    padding: 5px 0;
    font-size: 16px;
	}
	&-item-sub > li > div {
		@include flexbox(center, center);
	}
	&-nav-item:hover > .header-item-sub {
		display: block;
		animation: visible 0.25s;
	}
	&-nav-item ul li::before {
		content: "";
    position: absolute;
    width: 0;
    left: 18%;
    top: -15%;
    height: 0;
    border-left: 1.2rem solid transparent;
		border-right: 1.2rem solid transparent;
    border-bottom: 1.2rem  solid  $white-color;
	}

	&-nav-item ul li a {
		padding: 4px 5px;
		white-space: nowrap;
		margin-right: 5px;
		background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-transition: ease-in .2s;
    transition: ease-in .2s;
		line-height: 1.5;
	}
	&-nav-item i {
		transition: ease-in .2s;
	}
	&-nav-item ul li a:hover {
		color: $orange-color;
	}
	
	&-nav-link {
		color: $black-color;
		font-size: 1.4rem;
		position: relative;
		transition: ease-in .2s;
	}
	&-nav-link span {
		text-transform: uppercase;
    position: absolute;
    color: #FA6400;
    top: -60%;
    left: 100%;
    font-size: 1.1rem;
		transition: ease-in .2s;
	}
	&-site-menu {
		position: absolute;
    left: -60%;
    border-radius: 5px;
    width: auto;
		display: none;
	}
	&-nav-item:hover > .header-site-menu {
		display: block;
		animation: visible 0.25s;
	}
	.site-menu-container {
		padding: 2rem;
		background-color: #f6f6f6;
    -webkit-box-shadow: 0 10px 10px 0 #0001;
    box-shadow: 0 10px 10px 0 #0001;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
	}
	.site-menu-row {
		@include flexbox(center, space-between);
	}
	.site-menu-column {
		width: 100%;
		padding: 2rem;
	}
	.site-menu-column:hover {
		background-color: $white-color;
	}
	.mega-menu {
		cursor: pointer;
		text-decoration: none;
		color: $black-color;
		@include flexbox(center, space-between);
	}
	.mega-menu-icon {
		width: 4rem;
    height: 4rem;
    margin-right: 2rem;
	}
	.mega-menu-icon svg {
		width: 3.2rem;
		height: 3.2rem;
	}
	.mega-menu-title {
		width: 100%;
		white-space: nowrap;
	}



	// style header-user
	&-user {
		@include flexbox(stretch, space-between);
	}
	&-user-item {
		transition: ease-in 0.25s;
		margin-right: 2rem;
		p {
			color: $black-color;
		}
	}

	&-user-item:hover > a  i {
		color: $orange-color;
	}
	&-user-item:hover > a p {
		color: $orange-color;
	}
	&-user-item a {
		@include flexbox(center, center, column);
		transition: 0.25s ease-in-out;
	}
	&-user-item a i {
		font-size: 2.4rem;
		color: $black-color;
		margin-bottom: 0.5rem;
		font-weight: normal;
		cursor: pointer;
	}
}  // end style header
 





// style banner 


.banner {
	position: relative;
	font-family: $primary-font;
	z-index: 1;
	padding-bottom: 4rem;
	&-bg {
		position: absolute;
		z-index: -222222;
		top: 0;
		width: 100%;
		height: 100%;
		left: 0;
		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: top right;
			object-position: top right;
		}
	}
	.container {
		margin-top: 2.5rem;
		z-index: 1;
	}
	&-title {
		font-size: 1.6rem;
		color: $orange-color;
		font-weight: bold;
	}
	&-title:after {
		content: "";
		position: absolute;
		z-index: -2;
		top: -9%;
		left: 3%;
		width: 17rem;
		height: 17rem;
		border-radius: 50%;
		background-color: #F7EBE3;
	}
	&-caption {
		margin-top: 1.7rem;
		width: 45rem;
		font-size: 5.4rem;
		line-height: 1.4;
	}
	&-slide-arrow {
		width: 11.5rem;
		margin-top: 1.7rem;
		font-size: 2rem;
		@include flexbox(center, space-between);
		a {
			@include flexbox(center, center);
			background-color: $white-color;
			font-size: 1.5rem;
			width: 5rem;
			height: 5rem;
			color: $text-color;
			border-radius: 50%;
			i {
				font-size: 2.7rem;
			}
		}
		a:hover {
			color: $orange-color;
		}
	}
	&-slide {
		width: 100%;
		z-index: 1;
		margin-top: 2.5rem;
		@include flexbox(center, space-between);
		&-img {
			margin-left: 1.5rem;
			img {
				width: 55rem;
				height: 23.5rem;
				border-radius: 2rem;
				object-fit: cover;
			}
		}
	}
}



// style policy 

.policy {
	width: 100%;
	border-bottom: 2px solid $border-color;
	margin-bottom: 10rem;
	&-list {
		padding: 3rem;
		@include flexbox(center, space-between);
	}
	&-list-item {
		cursor: pointer;
		position: relative;
		width: calc((100% - 2rem) / 4);
		@include flexbox(center, center);
		span {
			transition: .25s ease-in;
		}
	}
	&-list-item:after {
		position: absolute;
		content: "";
		width: 1px;
		height: 6rem;
		background-color: $border-color;
		right: 0;
	}
	&-list-item:hover > span {
		color: $orange-color;
	}
	&-list-item:last-child:after {
		display: none;
	}
	&-list-icon {
		width: 4.5rem;
		height: 3rem;
	}
	&-list-icon svg {
		width: 100%;
		height: 100%;
	}
	&-list-label {
		font-size: 1.6rem;
		color: $black-color;
		line-height: 1.6;
		margin-left: 1rem;
		// font-weight: bold;
		b {
			color: $orange-color;
			font-weight: bold;
		}
	}
}



//style products
.products {
	@include flexbox(center, space-between);
	&-new {
		position: relative;
	}
	&-new-heading {
		position: absolute;
    font-size: 3rem;
    color: #000726;
    font-weight: bold;
    left: -24%;
    bottom: 15%;
    text-transform: uppercase;
    transform: rotate(
		-90deg) translateY(100%);
	}
	&-highlights {
		position: relative;
	}
	&-highlights-heading {
		position: absolute;
    font-size: 3rem;
    color: #000726;
    font-weight: bold;
    top: 9%;
    right: -20%;
    text-transform: uppercase;
    transform: rotate(90deg) translateY(100%);
	}
	&-highlights-arrow {
		position: absolute;
    right: -17%;
    bottom: 5%;
    transform: rotate(90deg);
	}
}





// style coolsub   

.coolsub {
	max-height: 75rem;
	position: relative;
	margin-top: 10rem;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	&-product {
		width: 45%;
		display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
		position: relative;
	}
	&-item {
		display: block;
		width: 32%;
		background-color: #e0eeea;
		margin: 0.5rem auto;
		transition: ease-in .25s;
	}
	&-item:hover {
		background-color: $white-color;
	}
	&-item-container {
		text-align: center;
	}
	
	&-item-img {
		max-width: 120px;
		margin-left: auto;
		margin-right: auto;
	}
	&-item-img img {
		display: block;
		width: 20rem;
		height: 20rem;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
	}
	&-item-heading {
		font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 8px;
    -webkit-transition: all .25s;
    transition: all .25s;
	}
	&-item-heading:hover {
		color: $orange-color;
	}
	&-item-qty {
		font-size: 16px;
    font-weight: 400;
    color: #494949;
		padding-bottom: 5rem;
	}
	&-content {
		width:55%;
		padding-top: 6.5rem;
		position: relative;
		background-color:$header-color;
		background: url("https://www.coolmate.me/images/home/coolsub.jpg") no-repeat 35% 15%;
	}
	&-content-wrapper {
		padding-left: 5.5rem;
	}
	&-content-heading {
		display: block;
		font-size: 2.5rem;
		color: $black-color;
		word-spacing: 4px;
		text-transform: uppercase;
	}
	&-content-caption {
		margin-top: 1.5rem;
		font-size: 7.5rem;
		color: $orange-color;
		font-weight: 800;
	}
	&-content-price {
		font-size: 1.6rem;
		font-weight: 500;
		margin-top: 1.5rem;
		color: $black-color;
		span {
			color: $orange-color;
			font-weight: 500;
			font-size: 2rem;
			display: inline-block;
		}
	}
	&-content-info {
		@include flexbox(center, center);
		max-width: 725px;
    margin-left: -15px;
    margin-right: -15px;
		margin-top: 2.5rem;
	}
	&-content-icon {
		@include flexbox(center, center);
		background-color: $white-color;
		color: $orange-color;
		width: 7rem;
		height: 7rem;
		border-top-left-radius: 2rem;
		border-bottom-right-radius: 2rem;
	}
	&-content-item {
		margin-right: 2.5rem;
	}
	&-content-title {
		margin-top: 2.5rem;
		font-size: 2.4rem;
		text-transform: capitalize;
		color: $black-color;
		font-weight: 300;
	}
	&-content-description {
		color: $black-color;
		font-size: 1.6rem;
		font-weight: 200;
		margin-top: 1.5rem;
		line-height: 1.5;
	}
	&-content-actions {
		@include flexbox(center, flex-start);
		margin-top: 5rem;
		margin-left: -10px;
		a {
			padding: 2rem 7rem;
			border-radius: 1rem;
			background-color: $orange-color;
			color: $white-color;
		}
	}
	&-content-btn {
		color: $white-color;
		text-transform: uppercase;
		font-size: 1.7rem;
		transition: all .25s;
	}
	&-content-btn:hover {
		background-color: rgb(233, 164, 35);
	}
	&-content-policy {
		color: $black-color;
		font-size: 1.6rem;
		font-weight: 200;
		margin-left: 4rem;
	}

}




//style help 

.help {
	position: relative;
	width: 100%;
	height: 60rem;
	padding-top: 4rem;
	text-align: center;
	z-index: 23;
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #F7F7F7;
		z-index: -1;
	}
	&-icon {
		margin-bottom: 0.6rem;
	}
	&-slogan {
		position: relative;
		h4 {
			color: $black-color;
			font-weight: bold;
			font-size: 2.4rem;
			margin-bottom: 2.5rem;
		}
		h4::after {
			content: "";
			position: absolute;
			width: 7rem;
			height: 4px;
			background-color: $black-color;
			left: 50%;
			bottom: -65%;
		}
	}
	&-text {
		font-size: 1.6rem;
		p {
			color: $black-color;
			font-weight: 300;
			line-height: 1.5;
			margin-bottom: 1.5rem;
		}
		span {
			color: $orange-color;
			font-weight: 600;
			margin-bottom: 2rem;
		}
	}
	&-box {
		@include flexbox(center, center);
	}
	&-box-item {
		@include flexbox(center, center, column);
		width: 33%;
		margin-right: 3rem;
		padding: 3rem 0;
		border: 2px solid $orange-color;
		border-radius: 5px;
		margin-bottom: 5rem;
		h2 {
			font-size: 4.5rem;
			color: $black-color;
			font-weight: 700;
			margin-bottom: 2rem;
		}
		p {
			font-size: 1.6rem;
			line-height: 1.6;
		}
	}
}